<html>
    <head>
        <title> Hello</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css"href="../public/.css/style.css">
        <link rel="stylesheet" type="text/css"href="../public/.css/bootstrap.css">
        <link rel="stylesheet" type="text/css"href="../public/.css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css"href="../public/.css/bootstrap.min.css.map">
        <link rel="stylesheet" type="text/css"href="../public/.css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"href="../public/.css/bootstrap-theme.css">
        <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
        <link href="../public/fonts/AquafineScript-Regular.ttf" rel="stylesheet">
    </head>
    <style>
.jumbotron{
    background-color: red;
}
    </style>
    <body>
        <!-- <div class="row"> -->
            <!-- <div class="col-md-6 col-xs-6"> -->
                <!-- <div class="jumbotron">Hello Bootstrap</div> -->
            <!-- </div> -->
               
    <!-- <div class="col-md-6 col-xs-6"> -->
        <!-- <div class="jumbotron">Hello Bootstrap</div> -->
    <!-- </div> -->
        <!-- </div> -->
            <!-- </div> -->
            <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-1">
                    <img src="../public/image/car1.jpeg">
                </div>

                <div class="col-md-4 col-xl-6">
                    <div class="jumbotron">Since the beginning of time, flowers have intrigued us with their unique beauty and enticing scents. But some of these exceptional ‘gifts of nature’ possess unbelievable characteristics that are unknown to many of us. Here are some strange facts about flowers, both rare breeds and those we see regularly. </div>
                </div> 
            </div>
    <br>
    <br>
    <div class="col-md-6 col-sm-6">
        <div class="jumbotron">Since the beginning of time, flowers have intrigued us with their unique beauty and enticing scents. But some of these exceptional ‘gifts of nature’ possess unbelievable characteristics that are unknown to many of us. Here are some strange facts about flowers, both rare breeds and those we see regularly. </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6 col-sm-3">
                                <img src="../public/image/car1.jpeg">
                        </div> 
                         <br>                  
                        <div>
                            <div class="col-md-6 col-sm-3">
                                <img src="../public/image/car1.jpeg">
                            </div>
                        </div>
                    
                        <div>
                            <div class="col-md-6 col-sm-3">
                                <img src="../public/image/car1.jpeg">
                            </div>
                        
                            
                        <div>
                            <div class="col-md-6 col-md-offset-3 jumbtron">
                                <p style="font-family: 'Aquafina Script', cursive;" class="text-center">Since the beginning of time, flowers have intrigued us with their unique beauty and enticing scents. But some of these exceptional ‘gifts of nature’ possess unbelievable characteristics that are unknown to many of us. Here are some strange facts about flowers, both rare breeds and those we see regularly. </p>
                            </div>
                    </div>
                 </div>
                 <div>

                    <span class="glyphicon glyphicon-user" aria-hidden="true">User</span>
                
            </div>
        </body>
</html>